<nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/galery">Galery</a>
            </li>
        </ul>
</nav>